body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.4px;
    background-color: #ddd;
}

* {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.after:after {
    display: block;
    content: "";
    clear: both;
}

.cell {
    float: left;
}

.cell-right {
    float: right;
}

.con {
    max-width: 1300px;
    margin: 0 auto;
}

.section {
    margin-top: 150px;
}

/*style*/

/*header*/

#header {
    width: 100%;
    height: 140px;
    background-color: #222;
    color: #eee;
    z-index: 900;
}

#header .hd-tp {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #999;
    position: relative;
    box-sizing: border-box;
}

#header .hd-tp-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .logo {
    width: 126px;
    height: 21px;
}

#header .logo img {
    width: 100%;
    height: 100%;
}

#header .hd-tp-left,
.hd-tp-right {
    position: absolute;
    bottom: 10%;
    font-size: 13px;
    color: #ddd;
}

#header .hd-tp-left {
    left: 5%;
}

#header .hd-tp-right {
    right: 5%;
}

#header .hd-tp-left ul li {
    margin-right: 10px;
}

#header .hd-tp-right ul li {
    margin-left: 10px;
}

#header .hd-tp-right ul li {
    margin-left: 10px;
}

#header .hd-tp-right ul li:last-child.active > .fa-times {
    display: block;
}

#header .hd-tp-right ul li:last-child.active > .fa-search {
    display: none;
}

#header .hd-tp-right ul li:last-child > .fa-times {
    display: none;
    position: relative;
}

#header .hd-tp-right ul li:last-child.active .sch-box {
    display: block;
}

#header .hd-tp-right ul li:last-child .sch-box {
    width: 300px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 1;
    border: 0.8px solid #333;
    display: none;
}

.subscribe-box {
    width: 200px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing:
}

.subscribe-box > input[type="text"] {
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.subscribe-box > input[type="text"],
.subscribe-box > input[type="text"]::placeholder {
    font-weight: bold;
    color: #898989;
}

.subscribe-box > button {
    background-color: #333;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px;
    cursor: pointer;
}

.recommend {
    padding: 20px;
    box-sizing: border-box;
}

.recommend p {
    color: #333;
    font-size: 14px;
}

.recommend p::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recommend a {
    color: #999;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 15px;
}




































#header .hd-bt > .con > ul {
    display: flex;
    justify-content: center;
}

#header .hd-bt ul {
    position: relative;
}

#header .hd-bt ul li span {
    display: block;
    width: 1px;
    height: 12px;
    background-color: #eee;
    margin-top: 18px;
}

#header .hd-bt ul {
    line-height: 50px;
}

#header .hd-bt ul li {
    padding: 0 25px;
}

#header .hd-bt ul li a {
    position: relative;
    display: inline-block;
}

#header .hd-bt .con > ul > li > a::after {
    width: 0;
    height: 2px;
    display: block;
    content: "";
    background-color: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease;
    margin: 0 auto;
}

#header .hd-bt .con > ul > li:hover > a::after {
    width: 100%;
}












#header .hd-bt .dept2 {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 900;
}

#header .hd-bt li:first-child:hover > .dept2 {
    height: 480px;
    visibility: visible;
}

#header .hd-bt li:nth-child(2):hover > .dept2 {
    height: 680px;
    visibility: visible;
}

#header .hd-bt li:nth-child(3):hover > .dept2 {
    height: 497px;
    visibility: visible;
}

#header .hd-bt li:nth-child(4):hover > .dept2 {
    height: 514px;
    visibility: visible;
}

#header .hd-bt li:nth-child(6):hover > .dept2 {
    height: 536px;
    visibility: visible;
}

#header .hd-bt li:nth-child(8):hover > .dept2 {
    height: 536px;
    visibility: visible;
}

#header .hd-bt li:nth-child(9):hover > .dept2 {
    height: 436px;
    visibility: visible;
}

#header .hd-bt li:last-child:hover > .dept2 {
    height: 485px;
    visibility: visible;
}

#header .hd-bt .dept2 {
    width: 1300px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
}

#header .hd-bt .dept2 h2 {
    color: #333;
    font-weight: 500;
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}

#header .hd-bt .dept2 .in-menu {
    padding: 40px 0;
    box-sizing: border-box;
}

#header .hd-bt .dept2 .in-menu ul {
    position: relative;
}

#header .hd-bt .dept2 .in-menu > ul::before {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #999;
    position: absolute;
    top: 0;
}

#header .hd-bt .dept2 .in-menu > ul > li {
    color: #333;
    font-weight: 700;
    padding-left: 50px;
}

#header .hd-bt .dept2 .in-menu > ul > li li {
    color: #999;
    font-weight: normal;
    font-size: 15px;
}

#header .hd-bt .dept2 .in-img {
    padding: 50px 80px;
}

#header .hd-bt .dept2 .in-img img {
    width: 600px;
}

/*visual*/

#visual .slider-box {
    width: 100%;
    overflow: hidden;
}

#visual .slider-box .slide1 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/1.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide2 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/2.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide3 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/3.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide4 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/4.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide5 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/5.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide6 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/6.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide7 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/7.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide8 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/8.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide9 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/9.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide10 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/10.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide11 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/11.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slider .slick-prev {
    left: -25px;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}

#visual .slider-box .slider:hover .slick-prev {
    left: 80px;
    opacity: 1;
}

#visual .slider-box .slider .slick-prev::before {
    content: "";
    display: block;
    background: url(../img/next.png) no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
}

#visual .slider-box .slider .slick-next {
    right: -25px;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}

#visual .slider-box .slider:hover .slick-next {
    right: 80px;
    opacity: 1;
}

#visual .slider-box .slider .slick-next::before {
    content: "";
    display: block;
    background: url(../img/next.png) no-repeat center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

#visual .slider-box .slider .slick-dots {
    bottom: 25px;
}

#visual .slider-box .slider .slick-dots li .page-btn {
    width: 8px;
    height: 8px;
    background-color: #777;
    display: block;
    border-radius: 50%;
}

#visual .slider-box .slider .slick-dots li {
    width: 8px;
    height: 8px;
}

#visual .slider-box .slider .slick-dots li.slick-active .page-btn {
    background-color: rgba(255,255,255,1);
    width: 50px;
    border-radius: 4px;
    transition: width 0.3s;
}

#visual .slider-box .slider .slick-dots li.slick-active {
    width: 50px;
}






































































/**/
