body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.4px;
    background-color: #ddd;
}

* {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.after:after {
    display: block;
    content: "";
    clear: both;
}

.cell {
    float: left;
}

.cell-right {
    float: right;
}

.con {
    width: 1300px;
    margin: 0 auto;
}

.section {
    margin-top: 150px;
}

/*style*/

/*header*/

#header {
    width: 100%;
    height: 140px;
    background-color: #222;
    color: #eee;
    z-index: 900;
    font-family: 'Noto Sans KR', sans-serif;
}

#header .hd-tp {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #999;
    position: relative;
    box-sizing: border-box;
}

#header .hd-tp-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .logo {
    width: 126px;
    height: 21px;
}

#header .logo img {
    width: 100%;
    height: 100%;
}

#header .hd-tp-left,
.hd-tp-right {
    position: absolute;
    bottom: 10%;
    font-size: 13px;
    color: #ddd;
}

#header .hd-tp-left {
    left: 5%;
}

#header .hd-tp-right {
    right: 5%;
}

#header .hd-tp-left ul li {
    margin-right: 10px;
}

#header .hd-tp-right ul li {
    margin-left: 10px;
}

#header .hd-tp-right .shopping-bag {
    position: relative;
    width: 11.8px;
    height: 15px;
}

#header .hd-tp-right .shopping-bag img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2px;
}

#header .hd-tp-right .sch-icon,
#header .hd-tp-right .cancel-icon {
    position: relative;
    width: 15px;
    height: 15px;
}

#header .hd-tp-right .sch-icon img,
#header .hd-tp-right .cancel-icon img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2px;
}

#header .hd-tp-right ul li:last-child.active > .cancel-icon {
    display: block;
}

#header .hd-tp-right ul li:last-child.active > .sch-icon {
    display: none;
}

#header .hd-tp-right ul li:last-child > .cancel-icon {
    display: none;
    position: relative;
}

#header .hd-tp-right ul li:last-child.active .sch-box {
    display: block;
}

#header .hd-tp-right ul li:last-child .sch-box {
    width: 300px;
    height: 330px;
    background-color: #fff;
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 1;
    border: 0.8px solid #333;
    display: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.subscribe-box {
    width: 200px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing:
}

.subscribe-box > input[type="text"] {
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.subscribe-box > input[type="text"],
.subscribe-box > input[type="text"]::placeholder {
    font-weight: bold;
    color: #898989;
}

.subscribe-box > button {
    background-color: #333;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px;
    cursor: pointer;
}

.recommend {
    padding: 20px;
    box-sizing: border-box;
}

.recommend p {
    color: #333;
    font-size: 14px;
}

.recommend p::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recommend a {
    color: #999;
    font-size: 13px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 15px;
}

#header .hd-bt > .con > ul {
    display: flex;
    justify-content: center;
}

#header .hd-bt ul {
    position: relative;
}

#header .hd-bt ul li span {
    display: block;
    width: 1px;
    height: 12px;
    background-color: #eee;
    margin-top: 18px;
}

#header .hd-bt ul {
    line-height: 50px;
}

#header .hd-bt ul li {
    padding: 0 25px;
}

#header .hd-bt ul li a {
    position: relative;
    display: inline-block;
}

#header .hd-bt .con > ul > li > a::after {
    width: 0;
    height: 2px;
    display: block;
    content: "";
    background-color: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease;
    margin: 0 auto;
}

#header .hd-bt .con > ul > li:hover > a::after {
    width: 100%;
}

#header .hd-bt .dept2 {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 900;
}

#header .hd-bt li:first-child:hover > .dept2 {
    height: 480px;
    visibility: visible;
}

#header .hd-bt li:nth-child(2):hover > .dept2 {
    height: 680px;
    visibility: visible;
}

#header .hd-bt li:nth-child(3):hover > .dept2 {
    height: 497px;
    visibility: visible;
}

#header .hd-bt li:nth-child(4):hover > .dept2 {
    height: 514px;
    visibility: visible;
}

#header .hd-bt li:nth-child(6):hover > .dept2 {
    height: 536px;
    visibility: visible;
}

#header .hd-bt li:nth-child(8):hover > .dept2 {
    height: 536px;
    visibility: visible;
}

#header .hd-bt li:nth-child(9):hover > .dept2 {
    height: 436px;
    visibility: visible;
}

#header .hd-bt li:last-child:hover > .dept2 {
    height: 485px;
    visibility: visible;
}

#header .hd-bt .dept2 {
    width: 1300px;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
}

#header .hd-bt .dept2 h2 {
    color: #333;
    font-weight: 500;
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}

#header .hd-bt .dept2 .in-menu {
    padding: 40px 0;
    box-sizing: border-box;
}

#header .hd-bt .dept2 .in-menu ul {
    position: relative;
}

#header .hd-bt .dept2 .in-menu > ul::before {
    display: block;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #999;
    position: absolute;
    top: 0;
}

#header .hd-bt .dept2 .in-menu > ul > li {
    color: #333;
    font-weight: 700;
    padding-left: 50px;
}

#header .hd-bt .dept2 .in-menu > ul > li li {
    color: #999;
    font-weight: normal;
    font-size: 15px;
}

#header .hd-bt .dept2 .in-img {
    padding: 50px 80px;
}

#header .hd-bt .dept2 .in-img img {
    width: 600px;
}

/*visual*/

#visual .slider-box {
    width: 100%;
    overflow: hidden;
}

#visual .slider-box .slide1 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/1.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide2 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/2.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide3 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/3.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide4 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/4.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide5 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/5.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide6 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/6.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide7 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/7.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide8 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/8.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide9 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/9.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide10 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/10.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slide11 .bg {
    width: 100%;
    height: 630px;
    background: url(../img/slider/11.jpg) no-repeat center;
    background-size: cover;
}

#visual .slider-box .slider .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
}

#visual .slider-box .slider .slick-prev {
    left: -25px;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}

#visual .slider-box .slider:hover .slick-prev {
    left: 80px;
    opacity: 1;
}

#visual .slider-box .slider .slick-prev::before {
    content: "";
    display: block;
    background: url(../img/next.png) no-repeat center;
    background-size: cover;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
}

#visual .slider-box .slider .slick-next {
    right: -25px;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}

#visual .slider-box .slider:hover .slick-next {
    right: 80px;
    opacity: 1;
}

#visual .slider-box .slider .slick-next::before {
    content: "";
    display: block;
    background: url(../img/next.png) no-repeat center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

#visual .slider-box .slider .slick-dots {
    bottom: 25px;
}

#visual .slider-box .slider .slick-dots li .page-btn {
    width: 8px;
    height: 8px;
    background-color: #777;
    display: block;
    border-radius: 50%;
}

#visual .slider-box .slider .slick-dots li {
    width: 8px;
    height: 8px;
}

#visual .slider-box .slider .slick-dots li.slick-active .page-btn {
    background-color: #fff;
    width: 50px;
    border-radius: 4px;
    transition: width 0.3s;
}

#visual .slider-box .slider .slick-dots li.slick-active {
    width: 50px;
}

/*section1*/

.section .con > p {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

#section1 .img-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section1 .img {
    width: 425px;
    height: 425px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

#section1 .img-box1 {
    background: url(../img/best-item/1.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box2 {
    background: url(../img/best-item/2.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box3 {
    background: url(../img/best-item/3.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box4 {
    background: url(../img/best-item/4.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box5 {
    background: url(../img/best-item/5.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box6 {
    background: url(../img/best-item/6.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box7 {
    background: url(../img/best-item/7.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box8 {
    background: url(../img/best-item/8.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box9 {
    background: url(../img/best-item/9.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box10 {
    background: url(../img/best-item/10.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box11 {
    background: url(../img/best-item/11.jpg) no-repeat center;
    background-size: cover;
}


#section1 .img-box12 {
    background: url(../img/best-item/12.jpg) no-repeat center;
    background-size: cover;
}

#section1 .hover-img {
    width: 100%;
    height: 100%;
}

#section1 .img:hover > .hover-img {
    opacity: 1;
}

#section1 .hover-img {
    opacity: 0;
    transition: 0.3s ease;
}

#section1 .img-box1 .hover-img {
    background: url(../img/best-item/1-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box2 .hover-img {
    background: url(../img/best-item/2-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box3 .hover-img {
    background: url(../img/best-item/3-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box4 .hover-img {
    background: url(../img/best-item/4-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box5 .hover-img {
    background: url(../img/best-item/5-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box6 .hover-img {
    background: url(../img/best-item/6-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box7 .hover-img {
    background: url(../img/best-item/7-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box8 .hover-img {
    background: url(../img/best-item/8-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box9 .hover-img {
    background: url(../img/best-item/9-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box10 .hover-img {
    background: url(../img/best-item/10-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box11 .hover-img {
    background: url(../img/best-item/11-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img-box12 .hover-img {
    background: url(../img/best-item/12-2.jpg) no-repeat center;
    background-size: cover;
}

#section1 .img .txt-box {
    width: 100%;
    height: 28%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -28%;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    transition: 0.2s ease;
}

#section1 .img:hover > .txt-box {
    bottom: 0;
}

#section1 .img .txt-box P:first-child {
    font-size: 15px;
    font-weight: bold;
}

#section1 .img .txt-box P:nth-child(2) {
    font-size: 14px;
    font-weight: lighter;
}

#section1 .img .txt-box P:nth-child(3) {
    font-size: 15px;
    font-weight: bold;
    color: aqua;
    margin-top: 3px;
}

#section1 .img .txt-box span:first-child {
    font-size: 15px;
    font-weight: bold;
}

#section1 .img .txt-box span:nth-child(2) {
    font-size: 13px;
    font-weight: lighter;
    text-decoration: line-through;
}

#section1 .img .txt-box .span {
    position: absolute;
    bottom: 15px;
}

/*section2*/

#section2 {
    width: 100%;
    height: 600px;
}

#section2 .left {
    width: 50%;
    height: 100%;
    background: url(../img/promotion/Moelleux_Visual_PC_01.jpg) no-repeat right;
    background-size: cover;
}

#section2 .right {
    width: 50%;
    height: 100%;
}

#section2 .right-tp {
    width: 100%;
    height: 50%;
}

#section2 .right-bt {
    width: 100%;
    height: 50%;
}

#section2 .tp-left,
#section2 .bt-right {
    background-color: #eee;
    width: 50%;
    height: 100%;
    position: relative;
}

#section2 .tp-left .triangle {
    width: 0;
    height: 0;
    position: absolute;
    right: -30px;
    top: 5%;
    z-index: 3;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #eee;
}

#section2 .bt-right .triangle {
    width: 0;
    height: 0;
    position: absolute;
    left: -30px;
    bottom: 5%;
    z-index: 3;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 30px solid #eee;
}

#section2 .tp-right {
    width: 50%;
    height: 100%;
    background: url(../img/promotion/Thumb_001_01.jpg) no-repeat center;
    background-size: cover;
}

#section2 .bt-left {
    width: 50%;
    height: 100%;
    background: url(../img/promotion/Thumb_002_01.jpg) no-repeat center;
    background-size: cover;
}

#section2 .txt-box {
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
}

#section2 .txt-box p {
    margin-bottom: 15px;
}

#section2 .txt-box p:first-child {
    font-size: 16px;
    font-weight: bold;
}

#section2 .txt-box p:nth-child(2) {
    font-size: 14px;
    font-weight: normal;
}

#section2 .txt-box p:nth-child(3) {
    font-size: 16px;
    font-weight: normal;
    color: #999;
}

#section2 .txt-box span:nth-child(4) {
    font-size: 16px;
    font-weight: bold;
}

#section2 .txt-box span:nth-child(5) {
    font-size: 13px;
    font-weight: lighter;
    text-decoration: line-through
}

#section2 .tp-right .hover-img {
    width: 100%;
    height: 100%;
    background: url(../img/promotion/Thumb_001_02.jpg) no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: 0.3s ease;
}

#section2 .tp-right:hover .hover-img {
    opacity: 1;
}

#section2 .bt-left .hover-img {
    width: 100%;
    height: 100%;
    background: url(../img/promotion/Thumb_002_02.jpg) no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: 0.3s ease;
}

#section2 .bt-left:hover .hover-img {
    opacity: 1;
}















/*section3*/





.slider-k-1 > .slides {
    position: relative;
    height: 450px;
    /* 조절 포인트 */
}

.slider-k-1 > .slides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-k-1 > .slides > div.active {
    z-index: 1;
}

.slider-k-1 > .slides > div > .box-1 {
    height: 100%;
    display: flex;
}

.slider-k-1 > .slides > div > .box-1 > .txt-box-1 {
    flex: 1 0 0;
    background-color: #eee;
}

.slider-k-1 > .slides > div > .box-1 > .img-box:nth-child(2) {
    order: 1;
}

.slider-k-1 .slides > div > .box-1 > .img-box {
    width: 450px;
    /* 조절 포인트 */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.slider-k-1 .slides > div > .box-1 > .img-box > div {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: left 0s 0.5s;
}


.slider-k-1 .slides > div.active > .box-1 > .img-box > div {
    left: 0;
    transition: left 0.5s;
}

.slider-k-1 .slides > div > .box-1 > .txt-box-1 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.slider-k-1 .slides > div.active > .box-1 > .txt-box-1 {
    opacity: 1;
    visibility: visible;
}

.slider-k-1 .side-btns {
    display: none;
}

.slider-k-1 .page-nav {
    text-align: center;
}

.slider-k-1 .page-nav > div {
    position: relative;
    white-space: nowrap;
}

.slider-k-1 .page-nav > div > div {
    display: flex;
}

.slider-k-1 .page-nav > div > div > div {
    flex: 1 1 0;
    /*    background-color: #333;*/
    opacity: 0.4;
    transition: opacity 0.5s;
    cursor: pointer;
}

.slider-k-1 .page-nav > div > div > div:first-child {
    background: url(../img/new-arrival/1.jpg) no-repeat center;
    background-size: cover;
}

.slider-k-1 .page-nav > div > div > div:nth-child(2) {
    background: url(../img/new-arrival/2.jpg) no-repeat center;
    background-size: cover;
}


.slider-k-1 .page-nav > div > div > div:nth-child(3) {
    background: url(../img/new-arrival/3.jpg) no-repeat center;
    background-size: cover;
}


.slider-k-1 .page-nav > div > div > div:nth-child(4) {
    background: url(../img/new-arrival/4.jpg) no-repeat center;
    background-size: cover;
}


.slider-k-1 .page-nav > div > div > div:nth-child(5) {
    background: url(../img/new-arrival/5.jpg) no-repeat center;
    background-size: cover;
}


.slider-k-1 .page-nav > div > div > div:nth-child(6) {
    background: url(../img/new-arrival/6.jpg) no-repeat center;
    background-size: cover;
}

.slider-k-1 .page-nav > div > div > div:not(:last-child) {
    margin-right: 20px;
}

.slider-k-1 .page-nav > div > div > div::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.slider-k-1 .page-nav > div > section {
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: black;
    transition: top 0.4s, left 0.4s;
    width: 0;
}

.slider-k-1 .page-nav > div > div > div:hover {
    opacity: 0.7;
}

.slider-k-1 .page-nav > div > div > div.active {
    opacity: 1;
}

.slider-k-1 .slides > div > .box-1 > .txt-box-1 {
    text-align: center;
    box-sizing: border-box;
    padding: 150px 50px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

#section3 .txt-box-1 .p1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#section3 .txt-box-1 .p2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

#section3 .txt-box-1 .p3 {
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;
}

#section3 .txt-box-1 .span1 {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

#section3 .txt-box-1 .span2 {
    font-size: 13px;
    font-weight: lighter;
    text-decoration: line-through
}

#section3 .txt-box-1 .span {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}


/*section4*/

#section4 .txt-box {
    width: 100%;
    height: 400px;
    background: url(../img/bg-img/bens_brand_story.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
}

#section4 .txt-box p:first-child {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

#section4 .txt-box p:nth-child(2) {
    font-size: 18px;
}

/*section5*/




































































































